# Homework 11

# Suhyun Hwang

# Nov 12, 2021

#### Problem 2

In [51]:
print("Problem 2")

Problem 2

In [1]:
import numpy as np

In [2]:
x= np.linspace(1,100,40)
y = np.array([  7.7,  15.82307692,  23.94615385,  32.06923077, 
40.19230769, 48.31538462, 56.43846154,  64.56153846, 
72.68461538, 80.80769231,  88.93076923,  97.05384615, 
105.17692308, 113.3 , 121.42307692, 129.54615385, 137.66923077, 
145.79230769, 153.91538462, 162.03846154, 170.16153846, 
178.28461538, 186.40769231, 194.53076923, 202.65384615, 
210.77692308, 218.9, 227.02307692, 235.14615385, 243.26923077, 
251.39230769, 259.51538462, 267.63846154, 275.76153846, 
283.88461538, 292.00769231, 300.13076923, 308.25384615, 
316.37692308, 324.5])

In [9]:
R_2 = 0

y_mean = np.mean(y)

a_est = 0
b_est = 0

for a in np.linspace(0.1, 10, 200):
    for b in np.linspace(0.1, 15, 250):
        
        y_pred = a * x + b
        
        mse = np.sum((y-y_pred)**2)/len(y)
        
        variance_y = np.sum((y-y_mean)**2)/len(y)
    
        R_ = 1-mse/variance_y
    
        if R_> R_2:
            R_2 = R_
        
            a_est = a
            b_est = b
        
print(f"The best value of a and b are {a_est},{b_est} respectively measured by R^2 = {R_2}")

The best value of a and b are 3.184422110552764,5.306024096385542 respectively measured by R^2 = 0.999976259151671

In [4]:
a = np.arange( 0.1, 10, 0.1 )
b = np.arange( 0.1, 15, 0.1 )

In [5]:
y_mod = a * x_mod + b, 
x_mod = np.linspace(1,100,100)
0.1<a<10 and 0.1<b<15

NameError: name 'x_mod' is not defined

#### Problem 3

In [6]:
print("Problem 3")

Problem 3

In [7]:
print("a")

a

In [8]:
def wind_chill( T, V ):
    """Function that calculates the wind chill factor.
    Input: the actual temperature T and the wind speed V
    Output: wind chill temperature WC """
    
    WC = 35.74 + 0.6215 * T - 35.75 * V**0.16 + 0.4275 * T * V**0.16
    WC = round(WC, 2)
    
    print("Today's wind chill temperature is", WC,"°F")

In [9]:
wind_chill( 20, 55 )

Today's wind chill temperature is -3.47 °F

In [10]:
print("b")

b

In [11]:
def parallax_to_distance(parallax_dic):
    """Function that returns a dictionary with the names of the stars and their distances from Earth
    Input: the star's name and its parallax
    Output: a dictionary with the names of the stars and their distances from Earth """
    
    distance_dic = {}
    for key in parallax_dic:
        distance_dic[key] = 1 / ( parallax_dic[key] / 1000)
    return distance_dic

In [12]:
parallax_dic = { 'Betelgeuse' : 7.63, 'Antares' : 5.89, 'Spica' : 13.06, 'Proxima Cen' : 768 }
parallax_to_distance(parallax_dic)

{'Betelgeuse': 131.06159895150722,
 'Antares': 169.77928692699493,
 'Spica': 76.5696784073507,
 'Proxima Cen': 1.3020833333333333}

In [13]:
print("c")

c

In [262]:
def lists_to_dict(List_1, List_2):
    """Function that takes two lists as input and combines them in a dictionary
    Input: two lists List_1 & List_2
    Output: a dictionary """
    
    dic = {}
    for i in range( len( List_1 ) ) :
        if isinstance( List_1, str) == True:
            dic[List_1[i]] = List_2[i]
        
        else:
            dic[List_2[i]] = List_1[i]
            
                
                
            
    return dic

In [263]:
List_1 = [ 1, 3, 5, 10, 12, 14]
List_2 = [ "watermelon", "melon", "apple", "strawberries", "cherries", "oranges" ]
lists_to_dict(List_1, List_2)

{'watermelon': 1,
 'melon': 3,
 'apple': 5,
 'strawberries': 10,
 'cherries': 12,
 'oranges': 14}

In [264]:
isinstance( List_1, str)

False

In [265]:
List_1 = [ "cars", "motorcycles", "bikes", "skateboards" ]
List_2 = [ 200, 150, 10, 67 ] 
lists_to_dict(List_1, List_2)

{200: 'cars', 150: 'motorcycles', 10: 'bikes', 67: 'skateboards'}

In [261]:
type( List_1 ) == str

False

In [188]:
type(List_1) == str

False

In [183]:
def lists_to_dict(List_1, List_2):
    """Function that takes two lists as input and combines them in a dictionary
    Input: two lists List_1 & List_2
    Output: a dictionary """
    
    dic = {List_1[i] : List_2[i] for i in range(len(List_1))}
    
                
                        
    return dic

In [172]:
def lists_to_dict(List_1, List_2):
    """Function that takes two lists as input and combines them in a dictionary
    Input: two lists List_1 & List_2
    Output: a dictionary """
    
    dic = {}
    for i in List_1:
        for j in List_2:
            if type(i) == str:
                dic[i] = j
            if type(j) == str:
                dic[j] = i
                
                List_1.remove(i)
                List_2.remove(j)
                break
              
                
                
    return dic

In [173]:
List_1 = [ 1, 3, 5, 10, 12, 14]
List_2 = [ "watermelon", "melon", "apple", "strawberries", "cherries", "oranges" ]
lists_to_dict(List_1, List_2)

{'watermelon': 1, 'melon': 5, 'apple': 12}

In [25]:
def lists_to_dict(List_1, List_2):
    """Function that takes two lists as input and combines them in a dictionary
    Input: two lists List_1 & List_2
    Output: a dictionary """
    
    dic = {}
    for i in List_1:
        if type(i) == str:
            dic[List_1[0]] = List_2[0]
            dic[List_1[1]] = List_2[1]
            dic[List_1[2]] = List_2[2]
            dic[List_1[3]] = List_2[3]
            
        
            
            
    return dic

In [26]:
List_1 = [ "cars", "motorcycles", "bikes", "skateboards"]
List_2 = [ 200, 150, 10, 67 ] 
lists_to_dict(List_1, List_2)

{'cars': 200, 'motorcycles': 150, 'bikes': 10, 'skateboards': 67}

In [26]:
def lists_to_dict(List_1, List_2):
    """Function that takes two lists as input and combines them in a dictionary
    Input: two lists List_1 & List_2
    Output: a dictionary """
    
    dic = {}
    for i in List_1:
        for j in List_2:
            if type(i) == str:
                dic[i] = j
            if type(j) == str:
                dic[j] = i
    #loop over the length first
    
    return dic

In [21]:
List_1 = [ 1, 3, 5, 10, 12, 14]
List_2 = [ "watermelon", "melon", "apple", "strawberries", "cherries", "oranges" ]
lists_to_dict(List_1, List_2)

{}

In [14]:
def lists_to_dict(List_1, List_2):
    """Function that takes two lists as input and combines them in a dictionary
    Input: two lists List_1 & List_2
    Output: a dictionary """
    
    dic = {}
    for i in List_1:
        for j in List_2:
            if type(i) == str:
                dic[i] = j
                
          
    #loop over the length first
    
    return dic

In [15]:
List_1 = [ 1, 3, 5, 10, 12, 14]
List_2 = [ "watermelon", "melon", "apple", "strawberries", "cherries", "oranges" ]
lists_to_dict(List_1, List_2)

{}

In [18]:
List_1 = [ 1, 3, 5, 10, 12, 14]
List_2 = [ "watermelon", "melon", "apple", "strawberries", "cherries", "oranges" ]
lists_to_dict(List_1, List_2)

{'watermelon': 14,
 'melon': 14,
 'apple': 14,
 'strawberries': 14,
 'cherries': 14,
 'oranges': 14}

In [19]:
List_1 = [ "cars", "motorcycles", "bikes", "skateboards"]
List_2 = [ 200, 150, 10, 67 ] 
lists_to_dict(List_1, List_2)

{'cars': 67, 'motorcycles': 67, 'bikes': 67, 'skateboards': 67}

In [20]:
test_string = "banana"
res = isinstance(test_string, str)
str(res)

'True'

In [21]:
type(test_string) == str

True

In [22]:
test_string = 1
res = isinstance(test_string, str)
str(res)

'False'

In [23]:
type(test_string) == str

False

In [18]:
list = [ "cars", "motorcycles", "bikes", "skateboards"]

In [19]:
list[1]

'motorcycles'

In [24]:
y = np.array( [ [1, 2, 3 ],   [4, 5, 6] ])

In [25]:
print(y)

[[1 2 3]
 [4 5 6]]

In [11]:
print("d")

d

In [12]:
def matrix_mult(mat1, mat2):
    """Function that multiplies two matrices
    Input: two matrices mat1 & mat2
    Output: a matrice multiplied by two matrices """
    
    # number of columns in the first matrix has to equal to the number of rows in the second matrix
    
    
    for i in range(len(mat1)):
        for j in range(len(mat2[0])):
            for k in range(len(mat2)):
                
                res[i][j] += mat1[i][k] * mat2[k][j]
                
    return res

In [13]:
A1 = np.array( [ [1, 2, 3 ], [4, 5, 6] ])
A2 = np.array( [ [2, 3] , [2 , 2] ] ) 
matrix_mult(A1,A2)

NameError: name 'res' is not defined